@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import '../../node_modules/tailwindcss/utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .nav-scrollbar::-webkit-scrollbar {
    scrollbar-track-color: transparent;
    scrollbar-base-color: transparent;
    scrollbar-width: thin;
  }
}
body {
  @apply leading-[normal];
}
*,
::before,
::after {
  border-width: 0;
}

.progress-bar3 {
  background-image: linear-gradient(to right, #ffffff, #8a2be2);
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-infinite .progress-bar3 {
  background-image: linear-gradient(to right, #ffffff, #8a2be2);
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% {
    background-image: linear-gradient(to right, #ffffff, #8a2be2);
  }
  25% {
    background-image: linear-gradient(to right, #8a2be2, #ffffff);
  }
  50% {
    background-image: linear-gradient(to right, #ffffff, #8a2be2);
  }
  75% {
    background-image: linear-gradient(to right, #8a2be2, #ffffff);
  }
  100% {
    background-image: linear-gradient(to right, #ffffff, #8a2be2);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px #121212 inset !important; /* Ensure background fills the input */
    -webkit-text-fill-color: #ffffff !important; /* Set the text color */
    caret-color: #ffffff !important; /* Set the caret (cursor) color */
    overflow: hidden !important; /* Prevents overflow of background */
  }
}

body {
  font-family: "Inconsolata", monospace;
}

h1 {
  padding: 0;
  margin: 0;
}